    @import url(https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap);
    @import url(https://fonts.googleapis.com/css?family=Berkshire+Swash|Just+Another+Hand&display=swap);
    .fonte {
        font-size: 5.5em;
        font-family: 'Berkshire Swash', cursive;
    }
    
    .fonte1 {
        font-size: 2.5em;
        font-family: 'Just Another Hand', cursive;
        color: white;
    }
    
    .gradiente {
        /*background-image: linear-gradient(to bottom right, #f8a5c2, #63cdda);*/
        background: url('../img/banner.jpg');
    }
    
    h5 {
        color: white;
        margin-top: 3em;
    }
    
    .sub-rodape {
        color: white;
    }
    
    .h1-rodape {
        color: white;
        margin-top: 2em;
    }
    
    .butao {
        margin-top: 8em;
    }
    
    .icons-rodape {
        width: 4em;
        height: 4em;
    }