    @import url(https://fonts.googleapis.com/css?family=Pacifico|Trade+Winds&display=swap);
    .fonte {
        font-size: 5.5em;
        font-family: 'Pacifico';
    }
    
    .fonte1 {
        font-size: 1.5em;
    }
    
    .gradiente {
        background-image: linear-gradient(to bottom right, #f8a5c2, #63cdda);
    }